@media (max-width: 1920px) and (max-height: 1920px) {
    body {
        transition: background 0.7s linear;
        background: DodgerBlue;
    }
}

@media (max-width: 1910px) and (max-height: 1910px) {
    body {
        transition: background 0.7s linear;
        background: MediumBlue;
    }
}

@media (max-width: 1900px) and (max-height: 1900px) {
    body {
        transition: background 0.7s linear;
        background: PowderBlue;
    }
}

@media (max-width: 1890px) and (max-height: 1890px) {
    body {
        transition: background 0.7s linear;
        background: Crimson;
    }
}

@media (max-width: 1880px) and (max-height: 1880px) {
    body {
        transition: background 0.7s linear;
        background: OliveDrab;
    }
}

@media (max-width: 1870px) and (max-height: 1870px) {
    body {
        transition: background 0.7s linear;
        background: DeepPink;
    }
}

@media (max-width: 1860px) and (max-height: 1860px) {
    body {
        transition: background 0.7s linear;
        background: Magenta;
    }
}

@media (max-width: 1850px) and (max-height: 1850px) {
    body {
        transition: background 0.7s linear;
        background: MidnightBlue;
    }
}

@media (max-width: 1840px) and (max-height: 1840px) {
    body {
        transition: background 0.7s linear;
        background: Orchid;
    }
}

@media (max-width: 1830px) and (max-height: 1830px) {
    body {
        transition: background 0.7s linear;
        background: MediumTurquoise;
    }
}

@media (max-width: 1820px) and (max-height: 1820px) {
    body {
        transition: background 0.7s linear;
        background: Magenta;
    }
}

@media (max-width: 1810px) and (max-height: 1810px) {
    body {
        transition: background 0.7s linear;
        background: PaleVioletRed;
    }
}

@media (max-width: 1800px) and (max-height: 1800px) {
    body {
        transition: background 0.7s linear;
        background: LightCoral;
    }
}

@media (max-width: 1790px) and (max-height: 1790px) {
    body {
        transition: background 0.7s linear;
        background: DarkOrchid;
    }
}

@media (max-width: 1780px) and (max-height: 1780px) {
    body {
        transition: background 0.7s linear;
        background: Peru;
    }
}

@media (max-width: 1770px) and (max-height: 1770px) {
    body {
        transition: background 0.7s linear;
        background: Red;
    }
}

@media (max-width: 1760px) and (max-height: 1760px) {
    body {
        transition: background 0.7s linear;
        background: DarkOrange;
    }
}

@media (max-width: 1750px) and (max-height: 1750px) {
    body {
        transition: background 0.7s linear;
        background: MediumTurquoise;
    }
}

@media (max-width: 1740px) and (max-height: 1740px) {
    body {
        transition: background 0.7s linear;
        background: BlueViolet;
    }
}

@media (max-width: 1730px) and (max-height: 1730px) {
    body {
        transition: background 0.7s linear;
        background: MediumPurple;
    }
}

@media (max-width: 1720px) and (max-height: 1720px) {
    body {
        transition: background 0.7s linear;
        background: SteelBlue;
    }
}

@media (max-width: 1710px) and (max-height: 1710px) {
    body {
        transition: background 0.7s linear;
        background: PaleVioletRed;
    }
}

@media (max-width: 1700px) and (max-height: 1700px) {
    body {
        transition: background 0.7s linear;
        background: MediumSlateBlue;
    }
}

@media (max-width: 1690px) and (max-height: 1690px) {
    body {
        transition: background 0.7s linear;
        background: Olive;
    }
}

@media (max-width: 1680px) and (max-height: 1680px) {
    body {
        transition: background 0.7s linear;
        background: SandyBrown;
    }
}

@media (max-width: 1670px) and (max-height: 1670px) {
    body {
        transition: background 0.7s linear;
        background: DeepSkyBlue;
    }
}

@media (max-width: 1660px) and (max-height: 1660px) {
    body {
        transition: background 0.7s linear;
        background: DarkTurquoise;
    }
}

@media (max-width: 1650px) and (max-height: 1650px) {
    body {
        transition: background 0.7s linear;
        background: HotPink;
    }
}

@media (max-width: 1640px) and (max-height: 1640px) {
    body {
        transition: background 0.7s linear;
        background: Wheat;
    }
}

@media (max-width: 1630px) and (max-height: 1630px) {
    body {
        transition: background 0.7s linear;
        background: Lime;
    }
}

@media (max-width: 1620px) and (max-height: 1620px) {
    body {
        transition: background 0.7s linear;
        background: Turquoise;
    }
}

@media (max-width: 1610px) and (max-height: 1610px) {
    body {
        transition: background 0.7s linear;
        background: LightPink;
    }
}

@media (max-width: 1600px) and (max-height: 1600px) {
    body {
        transition: background 0.7s linear;
        background: Snow;
    }
}

@media (max-width: 1590px) and (max-height: 1590px) {
    body {
        transition: background 0.7s linear;
        background: PaleVioletRed;
    }
}

@media (max-width: 1580px) and (max-height: 1580px) {
    body {
        transition: background 0.7s linear;
        background: LimeGreen;
    }
}

@media (max-width: 1570px) and (max-height: 1570px) {
    body {
        transition: background 0.7s linear;
        background: LightSalmon;
    }
}

@media (max-width: 1560px) and (max-height: 1560px) {
    body {
        transition: background 0.7s linear;
        background: SeaShell;
    }
}

@media (max-width: 1550px) and (max-height: 1550px) {
    body {
        transition: background 0.7s linear;
        background: Orange;
    }
}

@media (max-width: 1540px) and (max-height: 1540px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGray;
    }
}

@media (max-width: 1530px) and (max-height: 1530px) {
    body {
        transition: background 0.7s linear;
        background: White;
    }
}

@media (max-width: 1520px) and (max-height: 1520px) {
    body {
        transition: background 0.7s linear;
        background: Tan;
    }
}

@media (max-width: 1510px) and (max-height: 1510px) {
    body {
        transition: background 0.7s linear;
        background: LightCoral;
    }
}

@media (max-width: 1500px) and (max-height: 1500px) {
    body {
        transition: background 0.7s linear;
        background: MediumSlateBlue;
    }
}

@media (max-width: 1490px) and (max-height: 1490px) {
    body {
        transition: background 0.7s linear;
        background: DarkCyan;
    }
}

@media (max-width: 1480px) and (max-height: 1480px) {
    body {
        transition: background 0.7s linear;
        background: PaleGreen;
    }
}

@media (max-width: 1470px) and (max-height: 1470px) {
    body {
        transition: background 0.7s linear;
        background: Wheat;
    }
}

@media (max-width: 1460px) and (max-height: 1460px) {
    body {
        transition: background 0.7s linear;
        background: GoldenRod;
    }
}

@media (max-width: 1450px) and (max-height: 1450px) {
    body {
        transition: background 0.7s linear;
        background: Thistle;
    }
}

@media (max-width: 1440px) and (max-height: 1440px) {
    body {
        transition: background 0.7s linear;
        background: Salmon;
    }
}

@media (max-width: 1430px) and (max-height: 1430px) {
    body {
        transition: background 0.7s linear;
        background: MediumPurple;
    }
}

@media (max-width: 1420px) and (max-height: 1420px) {
    body {
        transition: background 0.7s linear;
        background: Bisque;
    }
}

@media (max-width: 1410px) and (max-height: 1410px) {
    body {
        transition: background 0.7s linear;
        background: SeaShell;
    }
}

@media (max-width: 1400px) and (max-height: 1400px) {
    body {
        transition: background 0.7s linear;
        background: White;
    }
}

@media (max-width: 1390px) and (max-height: 1390px) {
    body {
        transition: background 0.7s linear;
        background: LawnGreen;
    }
}

@media (max-width: 1380px) and (max-height: 1380px) {
    body {
        transition: background 0.7s linear;
        background: RosyBrown;
    }
}

@media (max-width: 1370px) and (max-height: 1370px) {
    body {
        transition: background 0.7s linear;
        background: DarkOrchid;
    }
}

@media (max-width: 1360px) and (max-height: 1360px) {
    body {
        transition: background 0.7s linear;
        background: BlueViolet;
    }
}

@media (max-width: 1350px) and (max-height: 1350px) {
    body {
        transition: background 0.7s linear;
        background: Bisque;
    }
}

@media (max-width: 1340px) and (max-height: 1340px) {
    body {
        transition: background 0.7s linear;
        background: PaleGreen;
    }
}

@media (max-width: 1330px) and (max-height: 1330px) {
    body {
        transition: background 0.7s linear;
        background: DarkMagenta;
    }
}

@media (max-width: 1320px) and (max-height: 1320px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateBlue;
    }
}

@media (max-width: 1310px) and (max-height: 1310px) {
    body {
        transition: background 0.7s linear;
        background: Chartreuse;
    }
}

@media (max-width: 1300px) and (max-height: 1300px) {
    body {
        transition: background 0.7s linear;
        background: LightGreen;
    }
}

@media (max-width: 1290px) and (max-height: 1290px) {
    body {
        transition: background 0.7s linear;
        background: Aquamarine;
    }
}

@media (max-width: 1280px) and (max-height: 1280px) {
    body {
        transition: background 0.7s linear;
        background: Red;
    }
}

@media (max-width: 1270px) and (max-height: 1270px) {
    body {
        transition: background 0.7s linear;
        background: MediumSeaGreen;
    }
}

@media (max-width: 1260px) and (max-height: 1260px) {
    body {
        transition: background 0.7s linear;
        background: Pink;
    }
}

@media (max-width: 1250px) and (max-height: 1250px) {
    body {
        transition: background 0.7s linear;
        background: FireBrick;
    }
}

@media (max-width: 1240px) and (max-height: 1240px) {
    body {
        transition: background 0.7s linear;
        background: RosyBrown;
    }
}

@media (max-width: 1230px) and (max-height: 1230px) {
    body {
        transition: background 0.7s linear;
        background: Tan;
    }
}

@media (max-width: 1220px) and (max-height: 1220px) {
    body {
        transition: background 0.7s linear;
        background: DarkCyan;
    }
}

@media (max-width: 1210px) and (max-height: 1210px) {
    body {
        transition: background 0.7s linear;
        background: PaleGreen;
    }
}

@media (max-width: 1200px) and (max-height: 1200px) {
    body {
        transition: background 0.7s linear;
        background: Orange;
    }
}

@media (max-width: 1190px) and (max-height: 1190px) {
    body {
        transition: background 0.7s linear;
        background: PowderBlue;
    }
}

@media (max-width: 1180px) and (max-height: 1180px) {
    body {
        transition: background 0.7s linear;
        background: RebeccaPurple;
    }
}

@media (max-width: 1170px) and (max-height: 1170px) {
    body {
        transition: background 0.7s linear;
        background: DarkBlue;
    }
}

@media (max-width: 1160px) and (max-height: 1160px) {
    body {
        transition: background 0.7s linear;
        background: Tomato;
    }
}

@media (max-width: 1150px) and (max-height: 1150px) {
    body {
        transition: background 0.7s linear;
        background: Teal;
    }
}

@media (max-width: 1140px) and (max-height: 1140px) {
    body {
        transition: background 0.7s linear;
        background: Aquamarine;
    }
}

@media (max-width: 1130px) and (max-height: 1130px) {
    body {
        transition: background 0.7s linear;
        background: YellowGreen;
    }
}

@media (max-width: 1120px) and (max-height: 1120px) {
    body {
        transition: background 0.7s linear;
        background: DarkOrchid;
    }
}

@media (max-width: 1110px) and (max-height: 1110px) {
    body {
        transition: background 0.7s linear;
        background: LightSeaGreen;
    }
}

@media (max-width: 1100px) and (max-height: 1100px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGray;
    }
}

@media (max-width: 1090px) and (max-height: 1090px) {
    body {
        transition: background 0.7s linear;
        background: Tan;
    }
}

@media (max-width: 1080px) and (max-height: 1080px) {
    body {
        transition: background 0.7s linear;
        background: LightGreen;
    }
}

@media (max-width: 1070px) and (max-height: 1070px) {
    body {
        transition: background 0.7s linear;
        background: SeaGreen;
    }
}

@media (max-width: 1060px) and (max-height: 1060px) {
    body {
        transition: background 0.7s linear;
        background: GreenYellow;
    }
}

@media (max-width: 1050px) and (max-height: 1050px) {
    body {
        transition: background 0.7s linear;
        background: Peru;
    }
}

@media (max-width: 1040px) and (max-height: 1040px) {
    body {
        transition: background 0.7s linear;
        background: Indigo;
    }
}

@media (max-width: 1030px) and (max-height: 1030px) {
    body {
        transition: background 0.7s linear;
        background: SeaGreen;
    }
}

@media (max-width: 1020px) and (max-height: 1020px) {
    body {
        transition: background 0.7s linear;
        background: Maroon;
    }
}

@media (max-width: 1010px) and (max-height: 1010px) {
    body {
        transition: background 0.7s linear;
        background: SandyBrown;
    }
}

@media (max-width: 1000px) and (max-height: 1000px) {
    body {
        transition: background 0.7s linear;
        background: Gold;
    }
}

@media (max-width: 990px) and (max-height: 990px) {
    body {
        transition: background 0.7s linear;
        background: PaleGreen;
    }
}

@media (max-width: 980px) and (max-height: 980px) {
    body {
        transition: background 0.7s linear;
        background: DarkBlue;
    }
}

@media (max-width: 970px) and (max-height: 970px) {
    body {
        transition: background 0.7s linear;
        background: Aquamarine;
    }
}

@media (max-width: 960px) and (max-height: 960px) {
    body {
        transition: background 0.7s linear;
        background: Gold;
    }
}

@media (max-width: 950px) and (max-height: 950px) {
    body {
        transition: background 0.7s linear;
        background: SkyBlue;
    }
}

@media (max-width: 940px) and (max-height: 940px) {
    body {
        transition: background 0.7s linear;
        background: ForestGreen;
    }
}

@media (max-width: 930px) and (max-height: 930px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGray;
    }
}

@media (max-width: 920px) and (max-height: 920px) {
    body {
        transition: background 0.7s linear;
        background: PaleTurquoise;
    }
}

@media (max-width: 910px) and (max-height: 910px) {
    body {
        transition: background 0.7s linear;
        background: DarkCyan;
    }
}

@media (max-width: 900px) and (max-height: 900px) {
    body {
        transition: background 0.7s linear;
        background: Crimson;
    }
}

@media (max-width: 890px) and (max-height: 890px) {
    body {
        transition: background 0.7s linear;
        background: DarkGoldenRod;
    }
}

@media (max-width: 880px) and (max-height: 880px) {
    body {
        transition: background 0.7s linear;
        background: Navy;
    }
}

@media (max-width: 870px) and (max-height: 870px) {
    body {
        transition: background 0.7s linear;
        background: SlateBlue;
    }
}

@media (max-width: 860px) and (max-height: 860px) {
    body {
        transition: background 0.7s linear;
        background: PaleVioletRed;
    }
}

@media (max-width: 850px) and (max-height: 850px) {
    body {
        transition: background 0.7s linear;
        background: Turquoise;
    }
}

@media (max-width: 840px) and (max-height: 840px) {
    body {
        transition: background 0.7s linear;
        background: DarkTurquoise;
    }
}

@media (max-width: 830px) and (max-height: 830px) {
    body {
        transition: background 0.7s linear;
        background: LightBlue;
    }
}

@media (max-width: 820px) and (max-height: 820px) {
    body {
        transition: background 0.7s linear;
        background: Salmon;
    }
}

@media (max-width: 810px) and (max-height: 810px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGrey;
    }
}

@media (max-width: 800px) and (max-height: 800px) {
    body {
        transition: background 0.7s linear;
        background: Indigo;
    }
}

@media (max-width: 790px) and (max-height: 790px) {
    body {
        transition: background 0.7s linear;
        background: MediumSpringGreen;
    }
}

@media (max-width: 780px) and (max-height: 780px) {
    body {
        transition: background 0.7s linear;
        background: DeepPink;
    }
}

@media (max-width: 770px) and (max-height: 770px) {
    body {
        transition: background 0.7s linear;
        background: Sienna;
    }
}

@media (max-width: 760px) and (max-height: 760px) {
    body {
        transition: background 0.7s linear;
        background: SkyBlue;
    }
}

@media (max-width: 750px) and (max-height: 750px) {
    body {
        transition: background 0.7s linear;
        background: ForestGreen;
    }
}

@media (max-width: 740px) and (max-height: 740px) {
    body {
        transition: background 0.7s linear;
        background: Chartreuse;
    }
}

@media (max-width: 730px) and (max-height: 730px) {
    body {
        transition: background 0.7s linear;
        background: DarkOliveGreen;
    }
}

@media (max-width: 720px) and (max-height: 720px) {
    body {
        transition: background 0.7s linear;
        background: DodgerBlue;
    }
}

@media (max-width: 710px) and (max-height: 710px) {
    body {
        transition: background 0.7s linear;
        background: Orange;
    }
}

@media (max-width: 700px) and (max-height: 700px) {
    body {
        transition: background 0.7s linear;
        background: LightSeaGreen;
    }
}

@media (max-width: 690px) and (max-height: 690px) {
    body {
        transition: background 0.7s linear;
        background: Tan;
    }
}

@media (max-width: 680px) and (max-height: 680px) {
    body {
        transition: background 0.7s linear;
        background: SteelBlue;
    }
}

@media (max-width: 670px) and (max-height: 670px) {
    body {
        transition: background 0.7s linear;
        background: DeepSkyBlue;
    }
}

@media (max-width: 660px) and (max-height: 660px) {
    body {
        transition: background 0.7s linear;
        background: Violet;
    }
}

@media (max-width: 650px) and (max-height: 650px) {
    body {
        transition: background 0.7s linear;
        background: MidnightBlue;
    }
}

@media (max-width: 640px) and (max-height: 640px) {
    body {
        transition: background 0.7s linear;
        background: DarkViolet;
    }
}

@media (max-width: 630px) and (max-height: 630px) {
    body {
        transition: background 0.7s linear;
        background: Maroon;
    }
}

@media (max-width: 620px) and (max-height: 620px) {
    body {
        transition: background 0.7s linear;
        background: DarkGoldenRod;
    }
}

@media (max-width: 610px) and (max-height: 610px) {
    body {
        transition: background 0.7s linear;
        background: Chartreuse;
    }
}

@media (max-width: 600px) and (max-height: 600px) {
    body {
        transition: background 0.7s linear;
        background: Yellow;
    }
}

@media (max-width: 590px) and (max-height: 590px) {
    body {
        transition: background 0.7s linear;
        background: SaddleBrown;
    }
}

@media (max-width: 580px) and (max-height: 580px) {
    body {
        transition: background 0.7s linear;
        background: HotPink;
    }
}

@media (max-width: 570px) and (max-height: 570px) {
    body {
        transition: background 0.7s linear;
        background: MediumTurquoise;
    }
}

@media (max-width: 560px) and (max-height: 560px) {
    body {
        transition: background 0.7s linear;
        background: MediumVioletRed;
    }
}

@media (max-width: 550px) and (max-height: 550px) {
    body {
        transition: background 0.7s linear;
        background: Gold;
    }
}

@media (max-width: 540px) and (max-height: 540px) {
    body {
        transition: background 0.7s linear;
        background: MidnightBlue;
    }
}

@media (max-width: 530px) and (max-height: 530px) {
    body {
        transition: background 0.7s linear;
        background: SteelBlue;
    }
}

@media (max-width: 520px) and (max-height: 520px) {
    body {
        transition: background 0.7s linear;
        background: Turquoise;
    }
}

@media (max-width: 510px) and (max-height: 510px) {
    body {
        transition: background 0.7s linear;
        background: Chartreuse;
    }
}

@media (max-width: 500px) and (max-height: 500px) {
    body {
        transition: background 0.7s linear;
        background: Thistle;
    }
}

@media (max-width: 490px) and (max-height: 490px) {
    body {
        transition: background 0.7s linear;
        background: Tan;
    }
}

@media (max-width: 480px) and (max-height: 480px) {
    body {
        transition: background 0.7s linear;
        background: SkyBlue;
    }
}

@media (max-width: 470px) and (max-height: 470px) {
    body {
        transition: background 0.7s linear;
        background: Maroon;
    }
}

@media (max-width: 460px) and (max-height: 460px) {
    body {
        transition: background 0.7s linear;
        background: SlateBlue;
    }
}

@media (max-width: 450px) and (max-height: 450px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGrey;
    }
}

@media (max-width: 440px) and (max-height: 440px) {
    body {
        transition: background 0.7s linear;
        background: MediumSeaGreen;
    }
}

@media (max-width: 430px) and (max-height: 430px) {
    body {
        transition: background 0.7s linear;
        background: PaleVioletRed;
    }
}

@media (max-width: 420px) and (max-height: 420px) {
    body {
        transition: background 0.7s linear;
        background: Wheat;
    }
}

@media (max-width: 410px) and (max-height: 410px) {
    body {
        transition: background 0.7s linear;
        background: SlateGrey;
    }
}

@media (max-width: 400px) and (max-height: 400px) {
    body {
        transition: background 0.7s linear;
        background: WhiteSmoke;
    }
}

@media (max-width: 390px) and (max-height: 390px) {
    body {
        transition: background 0.7s linear;
        background: Cyan;
    }
}

@media (max-width: 380px) and (max-height: 380px) {
    body {
        transition: background 0.7s linear;
        background: LightBlue;
    }
}

@media (max-width: 370px) and (max-height: 370px) {
    body {
        transition: background 0.7s linear;
        background: SlateGrey;
    }
}

@media (max-width: 360px) and (max-height: 360px) {
    body {
        transition: background 0.7s linear;
        background: LightSeaGreen;
    }
}

@media (max-width: 350px) and (max-height: 350px) {
    body {
        transition: background 0.7s linear;
        background: Magenta;
    }
}

@media (max-width: 340px) and (max-height: 340px) {
    body {
        transition: background 0.7s linear;
        background: Peru;
    }
}

@media (max-width: 330px) and (max-height: 330px) {
    body {
        transition: background 0.7s linear;
        background: DarkSlateGrey;
    }
}

@media (max-width: 320px) and (max-height: 320px) {
    body {
        transition: background 0.7s linear;
        background: SkyBlue;
    }
}

@media (max-width: 310px) and (max-height: 310px) {
    body {
        transition: background 0.7s linear;
        background: WhiteSmoke;
    }
}

@media (max-width: 300px) and (max-height: 300px) {
    body {
        transition: background 0.7s linear;
        background: PaleTurquoise;
    }
}

@media (max-width: 290px) and (max-height: 290px) {
    body {
        transition: background 0.7s linear;
        background: Cyan;
    }
}

@media (max-width: 280px) and (max-height: 280px) {
    body {
        transition: background 0.7s linear;
        background: Yellow;
    }
}