html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}

p {
    font-size: 34px;
    text-align: center;
}

.center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

img {
    border-radius: 11px;
    box-shadow: 0px 20px 13px -25px; 
}
